apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas"
  name: nodejs-zyumiazx
spec:
  replicas: 1
  template:
    spec:
      containers:
        - image: quay.io/sjmrhtap/nodejs-zyumiazx:5f58a8973e19f091a7e643367e51d0147e981868@sha256:1a14ee2bc70dfe7b844cae6fc416b11ccb713edf6ba1998e5d6efaca044c5399
          name: container-image
